@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model DataAccesLib.Models.AdminUser
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdminLogin.cshtml";
}
@Html.ValidationMessageFor(user => user.UserName)
@Html.ValidationMessageFor(user => user.Password)

<div class="container h-100 d-flex justify-content-center ">
    <div class=" my-auto justify-content-center">

        @using (Html.BeginForm("Authorise", "Admin", FormMethod.Post))
        {
            <h3 class="text-center mb-3"> Prihlásenie </h3>
            <div class="form-group mx-auto">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="UserName" class="form-control  text-center" placeholder="Meno" />
                <span asp-validation-for="UserName" class="text-danger  mx-auto"></span>
            </div>
            <div class="form-group mx-auto">
                <input asp-for="Password" class="form-control text-center"  placeholder="Heslo" type="password"  />
                <span asp-validation-for="Password" class="text-danger mx-auto"></span>
                @{
                    if (TempData["msg"] != null)
                    {
                        <span class="text-danger font-weight-bold">@TempData["msg"]</span>
                    }
                }
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-9">
                    <button type="submit" class="btn btn-primary btn-block admin_login_btn mx-auto" name="admin-sing-in">Prihlásiť</button>
                </div>
            </div>
            <p class="text-center mt-2"><a asp-controller="Home" asp-action="Index">Späť na hlavnú Stránku</a></p>
            <p class="text-center"><a href="mailto:kovacj.jan@gmail.com?subject=AdminSupport">Kontaktuj admina</a></p>
            
        }





    </div>

</div>


