@model List<DataAccesLib.Models.TeamMember>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<link rel="stylesheet" href="~/Content/styles/team-slider.css">
<!--main page-->
<div class="container">
    <div class="row align-items-center ">
        <div class="col-md-4 mt-5">
            <img id="company-logo-img" class="rounded-sm mx-auto d-block" src="~/Content/img/logo/Smart_Medic_MainLogo.jpg" alt="SmartMedic Logo">
        </div>
        <div class="col-md">
            <div class="row">
                <div class="col-md">
                    <p><h3 class="text-align-center">Náš príbeh</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md">
                    <p>
                        Praesent tempus luctus eleifend. Vivamus congue turpis ullamcorper, lacinia ligula nec, aliquet ex.
                        Suspendisse a porttitor sapien. Sed mollis lacus nibh. Pellentesque mollis dignissim quam, ut scelerisque metus
                        accumsan at. Sed elementum pharetra eros, et vulputate lorem consequat at. Nullam semper, ex eget malesuada viverra,
                        risus odio egestas magna, eu pellentesque odio libero vitae sem. Duis efficitur congue sapien non dignissim.
                    </p>
                </div>
            </div>
        </div>
    </div>




    <!--team slider -->

<div class="row blog justify-content-md-center mt-5 mb-5">
    <h1 class="text-align-center ">
        SMART MEDIC experts
    </h1>
    <div class="col-md-12">

        <div class="row">
                
            @foreach (var member in Model)
            {

                <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
                    <div class="our-team">
                        <div class="pic">
                            <img src="~/Content/img/team_photos/jan_kovac.jpg" alt="team member foto">
                        </div>
                        <div class="team-content">
                            <h3 class="title">@member.Meno @member.Priezvisko</h3>
                            <span class="post">@member.Funkcia</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="mailto:@member.Email" class="fa fa-envelope"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            }



        </div>
    </div>




</div>
</div>
<!--end of main page-->
