@model DataAccesLib.Models.Series
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminCMSLayout.cshtml";
}



<div class="container">
    @ViewBag.BrandName
    <h2 class="mt-5">Vytvorenie novej série</h2>
    <hr>
    <form asp-action="Create" asp-route-id="@ViewBag.BrandId" class="col-md-4" method="post" novalidate>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DeviceBrandId"></label>
            <input asp-for="DeviceBrandId" type="text" value="@ViewBag.BrandId" class="form-control" placeholder="Zadaj názov novej série" disabled="disabled">
            
        </div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Zadaj názov novej série" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" type="text" class="form-control" placeholder="Zadaj popis">

        </div>
        <button type="submit" class="btn btn-primary">Vytvoriť</button>

    </form>

    <script>
        // Disable form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load',
                function() {
                    // Get the forms we want to add validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms,
                        function(form) {
                            form.addEventListener('submit',
                                function(event) {
                                    if (form.checkValidity() === false) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }
                                    form.classList.add('was-validated');
                                },
                                false);
                        });
                },
                false);
        })();
    </script>
</div>
